aiosmtpd
cryptography
email-validator
elasticsearch
Flask
flask-babel
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
gunicorn
httpie
langdetect
PyJWT
pymysql
psycopg2-binary
python-dotenv
redis
requests
rq
